{% extends 'homepage/base.html' %}
{% load static %}


{% block header %}

  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1>The Creative Agency for Corporate and Investor communications</h1>
        <h2></h2>
        <a href="#services" class="btn-get-started scrollto">Our Services</a>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section>

  {% endblock %}

  {% block services %}

  <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Services we offer</h2>
          <p data-aos="fade-in">
          We offer Business development solutions that will help you in getting more visual attention in this competetive market.<br>
          Visual communication is one of the most effective way in passing information to your customer about your Brand and quality. The solutions we offer will get you the attention required in the market. Some of the Solutions we offer are
        </p>

        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-1.png' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Print Media Advertising</a></h5>
                <p class="card-text">Print Ads, Outdoor, Point of Sale, Brochurs and Collateral</p>
                <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-2.png' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Digital Media Advertising</a></h5>
                <p class="card-text">Digital Advertising, PPC, Pre-roll and Display Banners for social media</p>
                <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-3.svg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Design</a></h5>
                <p class="card-text">Brand Logo Design, Brand Identity, Retail experience, Product Designs and Packaging</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/services-4.svg' %}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Social Media</a></h5>
                <p class="card-text">Social Statergy, Social Engagement and Social Content Creation</p>
                <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    {% endblock %}

    {% block howwework %}
        <section id="features" class="features section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">How we work?</h2>
          <p data-aos="fade-in">We feel that it is important for you to know about our style of work, to understand us to trust us with your business. We follow a 4 pointer rule in every project we takeover, and this has helped is in maintaining the quality and the commitment to our clients. </p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Research & Analysis.</h3>
            <p class="font-italic">
              Research and Analysis plays a key rols in developing the project. We understand where your current business stands, the target audience, analysing the current market, the competetors. Once done we have a session we share how long the project takes, solutions, analysis report to the client. 
            </p>
            <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Consept and Sketch</h3>
            <p class="font-italic">
              Once the client approves the analysis, we start with the concept creation and sketch. We have a detail discussions about the outcome and the target audients perspective and start our sketch work accordingly. 
            </p>
            <p>
              We follow the Agile approach in completing the project where our step-by-step approach is shared.  
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-3.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Design & Brand</h3></p>
            <ul>
              <li><i class="icofont-check"></i> Our Design is shared with the Client and any changes or Suggetions will be implemented by our team</li>
              <li><i class="icofont-check"></i> Brand designing documents will be provided </li>
              <li><i class="icofont-check"></i> We provide you the copy rights of the design</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{%  static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Market & Advertise</h3>
            <p class="font-italic">
              We help you with the social media advertising solutions for Facebook, Instagram that will help you in getting more Business and the web traffic.
            </p>
            <p>
              Social Media advirtising help you connect with the younger gen
              It will help you showcase your brand and products you provide
              You can answer the Sales enqueries of the Customers right away. 
            </p>
          </div>
        </div>

      </div>
    </section>
    {% endblock %}