{% extends 'homepage/base.html' %}
{% load static %}

    <!-- ======= About Section ======= -->
    {% block whyus %}
    <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-in" data-aos-delay="100">Our Albums lasts for 100 Years!</h3>
              <br>
              <p data-aos="fade-in">
                Yes, you heard it right. We create Albums that are printed using an 8 color high resolution inkjet print process which helps preserve the finest texture, retain subtle shadow & highlight transitions and the most accurate color rendition.
                <br>
                This confers to the highest standards of museum quality fine art printing, now available in an album.

              </p>

              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4><a href="#">Lifetime Warrenty</a></h4>
                  <p>We create Albums that lasts forever</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4><a href="#">Free Reviews</a></h4>
                  <p>Review your design with 3 Rounds of Free Feedback</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4><a href="#">Fast Delivery</a></h4>
                  <p>You no longer need to wait months for the delivery. We deliver the album before the memories fade.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4><a href="#">Eco Friendly</a></h4>
                  <p>Made with elemental chlorine free paper and recyclable materials</p>
                </div>
                <br>
                <br>
                
              </div>
              <br>
              <br>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    {% endblock %}
    <!-- End About Section -->

    <!-- ======= Features Section ======= -->
    {% block howwework %}

    <section id="features" class="features section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Thoughtful Design</h2>
          <p data-aos="fade-in">Each of our coffee table book tells a story, and with every wedding there is a very special story to be told. We draw the viewer to the moment, captivating them visually and emotionally. If you are a discerning photographer, you will notice that our coffee table book design are individually crafted to perfection – nothing overlooked.</p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left">
            <h3>Steering the Eye</h3>
            <p class="font-italic">
              Composition, and the skilled use of the positive and negative spaces brings the wedding album design to life.
              In our wedding album designs, the order in which the images are sequenced is given due diligence. The meaning of an image is altered by placing one picture against another so very careful choices are made.
            </p>
            <ul>
              <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Balance and Symmetry</h3>
            <p class="font-italic">
              The dark and big images are considered heavier, while bright and small photographs are considered to be lighter. We design coffee table book layouts to bring about harmony and symmetry with such images.
            </p>
            <p>
              Combining images gives the wonderful opportunity to tell a story. Intelligent organisation, sizing and positioning of all the photos  in concert with each other.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-3.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Flow and Consistency</h3></p>
            <ul>
              <li><i class="icofont-check"></i> The Ebb and Flow of the activities taking place on the wedding day are reproduced. The entire book has a single consistent theme.</li>
              <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="icofont-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Colors and Typography</h3>
            <p class="font-italic">
              Color temperature creates mood and spatial effect. The right Type, Font, Kerning and Size are chosen to define the mood of the layout.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section>
    {% endblock %}
    <!-- End Features Section -->

    

